* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background-color: #a8a8a8;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 25px auto;
    border: 3px solid #ffffff;
}

.category-container {
    display: flex;
}

.category-container {
    border-bottom: 3px solid #ffffff;
}

.category-container:last-child {
    border: none
}

.label {
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 90px;
}

.items {
    background-color: #000000;
}

.label-S {
    background-color: #e64343;
}

.label-A {
    background-color: #f2870c;
}

.label-B {
    background-color: #faef29;
}

.label-C {
    background-color: #4ed360;
}

.label-D {
    background-color: #0c9ef2;
}

.label-E {
    background-color: #ad0cf2;
}

.items {
    background-color: #000000;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.items .card:first-child {
    margin-left: 20px;
}

.card {
    background-color: #ffffff;
    width: fit-content;
    height: 80px;
    text-align: center;
    border-radius: 5px;
}

button {
    height: 20px;
    width: 40px;
    border-radius: 5px;
    background-color: #323232;
    color: #ffffff;
    cursor: pointer;
}

#submit {
    width: 60px;
    margin-top: 15px;
}

#delete {
    width: 60px;
    margin-left: 3px;
}

input {
    display: block;
    border: #323232 2px solid;
}

.create-form {
    background-color: #ffffff;
    width: 10%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}